/*
	de.fraunhofer.abm Style Sheet

*/

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  top: 0;
  padding-top: 20px;
  width: 1400px;
  background-color: white;
  z-index: 5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin: 0px auto;
  line-height: 40px;
}

/* Format the logo into the header*/
.logo {
  height: 55px;
  margin-bottom: 4px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  /*padding: 14px 24px;*/
  font-size: .9em;
}

/* Allow animated menus (Not working)*/
.optionMenu{
  transition: all ease-out 0.5s;
  height: auto;
  opacity: 1;
}

.optionMenu.ng-hide{
  height: 0;
  opacity: 0;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.activity-indicator {
	margin-bottom: 2em;
	color: #7a7a7a;
}

tr.selected {
	background-color: #f5fff5;
}

tr.deseleted {
	background-color: white;
}

ul.list {
	display:block; 
	float: none; 
	overflow:scroll; 
	max-width:880px;
	max-height:600px;
	list-style-type: none;
	padding: 0;
}

ul.list li a {
	display: block;
    padding: 3px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #262626;
    white-space: nowrap; // prevent links from randomly breaking onto new lines
}

ul.list>li>a:focus, ul.list>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}


/* CSS loading animation */
.wrapper {
	padding-left: 1em;
	padding-right: 1em;
	margin: auto;
	/*display: block;*/
	width: 195px;
}

.cssload-loader {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin: 0em 3em;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.cssload-loader,
.cssload-loader:before,
.cssload-loader:after {
	animation: 1.15s infinite ease-in-out;
		-o-animation: 1.15s infinite ease-in-out;
		-ms-animation: 1.15s infinite ease-in-out;
		-webkit-animation: 1.15s infinite ease-in-out;
		-moz-animation: 1.15s infinite ease-in-out;
}
.cssload-loader:before,
.cssload-loader:after {
	width: 100%; 
	height: 100%;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}

.cssload-loader:before,
.cssload-loader:after {
		content: "";
}

.cssload-loader:before,
.cssload-loader:after {
		content: "";
		background-color: rgb(51,51,51);
		transform: scale(0);
		-o-transform: scale(0);
		-ms-transform: scale(0);
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		animation: cssload-animation 0.8s infinite ease-in-out;
		-o-animation: cssload-animation 0.8s infinite ease-in-out;
		-ms-animation: cssload-animation 0.8s infinite ease-in-out;
		-webkit-animation: cssload-animation 0.8s infinite ease-in-out;
		-moz-animation: cssload-animation 0.8s infinite ease-in-out;
}
.cssload-loader:after { animation-delay: 0.4s;
		-o-animation-delay: 0.4s;
		-ms-animation-delay: 0.4s;
		-webkit-animation-delay: 0.4s;
		-moz-animation-delay: 0.4s; }



@keyframes cssload-animation {
	0%	 { transform: translateX(-100%) scale(0); }
	50%	{ transform: translateX(0%)		scale(1); }
	100% { transform: translateX(100%)	scale(0); }
}

@-o-keyframes cssload-animation {
	0%	 { -o-transform: translateX(-100%) scale(0); }
	50%	{ -o-transform: translateX(0%)		scale(1); }
	100% { -o-transform: translateX(100%)	scale(0); }
}

@-ms-keyframes cssload-animation {
	0%	 { -ms-transform: translateX(-100%) scale(0); }
	50%	{ -ms-transform: translateX(0%)		scale(1); }
	100% { -ms-transform: translateX(100%)	scale(0); }
}

@-webkit-keyframes cssload-animation {
	0%	 { -webkit-transform: translateX(-100%) scale(0); }
	50%	{ -webkit-transform: translateX(0%)		scale(1); }
	100% { -webkit-transform: translateX(100%)	scale(0); }
}

@-moz-keyframes cssload-animation {
	0%	 { -moz-transform: translateX(-100%) scale(0); }
	50%	{ -moz-transform: translateX(0%)		scale(1); }
	100% { -moz-transform: translateX(100%)	scale(0); }
}
