<div class="col-md-6 col-md-offset-3" ng-controller="roleupdateController as rc">
	<h2>Reset Password</h2>
    <form name="form" ng-submit="rc.userroleupdate()" role="form">
    
    <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && (form.email.$error.required || rc.invalidEmail)}">
            <label for="email">Role name<span class="astrik_style">*</span></label>
            <input type="text" name="email" id="email" class="form-control" ng-model="request.rolename"   />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Your email address is required</span>
            <span ng-show="form.email.$dirty && !form.email.$error.required && rc.invalidEmail" class="help-block">This is not a valid email address</span>
        </div>
        <div class="form-actions text-right">
            <button type="submit" class="btn btn-primary">Submit</button>
            <div class="wrapper" ng-show="loading">
				<span class="cssload-loader"></span>
			</div>
        </div>
    </form>
</div>