<div class="col-md-6 col-md-offset-3" ng-controller="criteriaController as ctrl">
    <h2>Criteria</h2>
    <p>Select the criteria to narrow down your current selection.</p>
    <form name="form" role="form">
    <!-- 
        <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
            <label for="buildsystem">Build System</label>
            <input type="text" name="buildsystem" id="buildsystem" class="form-control" ng-model="cc.collection.name" ng-disabled="loading"/>
            <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">Name is required</span>
        </div>
     -->

		<div class="form-group">
	        <label for="buildsystem">Build System</label>
			<ui-select multiple ng-model="ctrl.buildsystem.selected" ng-disabled="ctrl.disabled" title="Choose a build system">
			      <ui-select-match placeholder="Select or search a build system in the list...">{{$item.name}}</ui-select-match>
			      <ui-select-choices repeat="buildsystem in ctrl.buildsystems | filter: $select.search">
			      <span ng-bind-html="buildsystem.name | highlight: $select.search"></span>
			      <!-- <small ng-bind-html="language.code | highlight: $select.search"></small>-->
			    </ui-select-choices>
			</ui-select>
		</div>
		<div class="form-group">
	        <label for="language">Language</label>
			<ui-select multiple ng-model="ctrl.language.selected" ng-disabled="ctrl.disabled" title="Choose a language">
			      <ui-select-match placeholder="Select or search a language in the list...">{{$item.name}}</ui-select-match>
			      <ui-select-choices repeat="language in ctrl.languages | filter: $select.search">
			      <span ng-bind-html="language.name | highlight: $select.search"></span>
			      <!-- <small ng-bind-html="language.code | highlight: $select.search"></small>-->
			    </ui-select-choices>
			</ui-select>
		</div>
		<div class="form-group">
	        <label for="language">License</label>
			<ui-select multiple ng-model="ctrl.license.selected" ng-disabled="ctrl.disabled" title="Choose a license">
			      <ui-select-match placeholder="Select or search a license in the list...">{{$item.name}}</ui-select-match>
			      <ui-select-choices repeat="license in ctrl.licenses | filter: $select.search">
			      <span ng-bind-html="license.name | highlight: $select.search"></span>
			      <!-- <small ng-bind-html="license.code | highlight: $select.search"></small>-->
			    </ui-select-choices>
			</ui-select>
		</div>
		<div class="form-group">
	        <label for="language">Size (number of files)</label>
			<ui-select multiple ng-model="ctrl.size.selected" ng-disabled="ctrl.disabled" title="Choose a size">
			      <ui-select-match placeholder="Select or search a size in the list...">{{$item.name}}</ui-select-match>
			      <ui-select-choices repeat="size in ctrl.sizes | filter: $select.search">
			      <span ng-bind-html="size.name | highlight: $select.search"></span>
			      <!-- <small ng-bind-html="size.code | highlight: $select.search"></small>-->
			    </ui-select-choices>
			</ui-select>
		</div>
		<div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || loading" class="btn btn-primary" ng-click="ctrl.start()">Continue</button>
            <div class="wrapper" ng-show="loading">
				<span class="cssload-loader"></span>
			</div>
        </div>
	</form>
</div>
