<div class="wrapper" ng-show="loading">
	<span class="cssload-loader"></span>
</div>

<div ng-controller="collectionController as cc" ng-hide="loading" style="min-width: 650px; overflow-x: auto;'">
	<hr>
	<form name="form" role="form" style="overflow: auto;">
	
		<div class ="form-actions pull-left" style="width: 320px"
			ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
			<div><h4>Collection Information</h4></div>
			<div>Name:&nbsp<input type="text" name="name"
				id="name" ng-model="cc.collection.name"
				required ng-disabled="cc.saving" /> </div>
			<span ng-show="form.name.$dirty && form.name.$error.required"
			class="help-block">Name is required</span>
			<div>
				Created: {{cc.collection.creation_date | date:'short'}}		
			</div>
			<div>
				Author: {{cc.collection.user}}		
			</div>
			<div>
				ID: {{cc.collection.id}}			
			</div>
				<div class="form-actions pull-left" style="padding-top: 5%">
					<button ng-disabled="loading || cc.saving"
						ng-click="cc.remove(cc.collection.id)" class="btn btn-sm btn-danger"
						title="Delete" confirm="Are you sure you want to delete this collection?">
						Delete Collection
					</button>
					
					<button ng-disabled="loading || cc.saving || cc.running || form.name.$error.required" title="Save Changes"
						class="btn btn-primary btn-sm" ng-click="cc.update()">Save
						Changes</button>
						
					<button ng-disabled="loading || cc.saving" title="New Version"
						class="btn btn-primary btn-sm" ng-click="cc.deriveVersion()">New Version</button>	
				</div>
		</div>
		<div class="form-actions" style="display: flex;">
		<div style="padding-left: calc(5% + 12px); margin-top: 40px; width: 100%;"
	ng-class="{ 'has-error': form.description.$dirty && form.description.$error.required }">
	Description
	<textarea rows='3' type="description" style="width: 100%;"
		name="description" id="description" class="form-control"
		ng-model="cc.collection.description" ng-disabled="cc.saving"></textarea>
		</div>
			
	</div>




</form>
<hr>
<br>
<div class = "form-actions" style="overflow: auto;">
<span class="form-actions pull-left" style="width: 320px">
	<div><h4>Build Information</h4></div>
	<div><label><span uib-dropdown>
   		<button id="single-button" type="button" class="btn btn-success btn-xs" uib-dropdown-toggle ng-disabled="cc.disabled || cc.saving">
       		Version {{cc.version.number}} &nbsp;&nbsp;&dash;&nbsp;&nbsp;  {{cc.version.creationDate | date:'short'}}&nbsp;&nbsp;<span class="caret"></span>
   		</button>
		<ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
			<li ng-repeat="version in cc.collection.versions"><a href ng-click="cc.version = version">{{version.number}} &nbsp;&nbsp;&dash;&nbsp;&nbsp;  {{version.creationDate | date:'short'}}</a></li>
			<li class="divider"></li>
       		<li role="menuitem"><a href ng-click="cc.deriveVersion()">Derive new version from current version ({{cc.version.number}})</a></li>
		</ul>
	</span></label></div>
	<div>Created: {{cc.version.creationDate | date: 'short'}}</div>
	<div>Latest Version Built: ???</div>
	<div ng-show="cc.collection.privateStatus">Privacy: Private</div>
	<div ng-hide="cc.collection.privateStatus">Privacy: Public</div>
	<div>
	<div style="padding-top: 5%">	
		<button ng-disabled="loading || cc.saving || cc.running || !cc.collection.privateStatus" title="Delete Version"
			class="btn btn-sm btn-danger" style="margin-bottom: 5px;" 
			confirm="Are you sure you want to delete this version?" ng-click="cc.removeVersion(cc.version.id)">Delete Version</button>
			
			
				
		<button ng-disabled="loading || cc.saving || cc.running || !cc.collection.privateStatus" title="Make Public"
			class="btn btn-primary btn-sm" style="margin-bottom: 5px;"
			confirm="Are you sure you want to make this version public?" ng-click="cc.makePublic(cc)">Make Public</button>
	
	</div>
	</div>
</span>
<span style="display: block; overflow: hidden; padding-left: 5%">
<div style="margin-bottom: 5px; margin-top: 35px;">
			<button ng-disabled="loading || cc.saving || cc.running || !cc.collection.privateStatus"
				class="btn btn-primary btn-sm">Edit Project(s)</button>
			<button ng-disabled="loading || cc.running || cc.saving"
				class="btn btn-primary btn-sm"
				ng-click="cc.HermesViewerService.download()">Download Collection</button>
				
</div>

<div style="float: right; width: 100%"">
<table class="table table-bordered table-striped" >
	<col width="*">
	<col width="*">
	<col width="5%">
	<tr>
		<th>Name</th>
		<th>Commit</th>
		<th></th>
	</tr>
	<tr ng-repeat="commit in cc.version.commits">
		<td>{{commit.repository.name}}</td>
		<td>
			<div class="dropdown" ng-hide="cc.version.frozen">
				<button class="btn btn-default btn-xs dropdown-toggle"
					ng-click="cc.selectCommit(commit)" type="button" id="commitSelect"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<span style="font-family: monospace">{{commit.commitId}}</span> <span
						class="caret" ng-hide="loading"></span>
				</button>
			</div> <span style="font-family: monospace" ng-show="cc.version.frozen">{{commit.commitId}}</span>
		</td>
		<td><ngcart-addtocart id="{{ commit.repository.id }}"
				name="{{ commit.repository.name }}" price="1" quantity="1"
				quantity-max="30" data="commit.repository"></ngcart-addtocart></td>
	</tr>
</table>
</div>

</span> 
</div>
