	<!-- <div ng-show="user === undefined">
		<h2>Automated Benchmark Management</h2>
		<p>This section will be the first thing new users see.</p>
		<p>A short description of the ABM system should go here, along with a few graphics.</p>
		<br>
	</div> -->
	
<div ng-hide="user == undefined">
	<section ng-controller="collectionController as cc">
		<h2>Private Collections</h2>
		<hr>
			<div ng-hide="loading">
				<p ng-show="userCollections[0] == undefined" class="alert alert-warning">You have no private collections. To create a new collection, collect projects using the search feature and create a collection from them in the Projects tab or clone an existing collection.</p>
				
				<table class="table table-bordered table-striped table-hover" style="max-height:400px;table-layout:fixed;" ng-hide="userCollections[0] == undefined">
					<col width="23%">
					<col width="39%">
					<col width="10%">
					<!-- <col width="5%"> -->
					<col width="28%">
					<tr>
						<th ng-click="cc.nameSort()">Name</th>
						<th ng-click="cc.descSort()">Description</th>
						<th ng-click="cc.dateSort()">Creation Date</th>
						<!-- <th>Size</th> -->
						<th>ID</th>
					</tr>
					<tr style="cursor:pointer;" ng-repeat="row in userCollections">
						<td ng-click="cc.open(row)">{{row.name}}</td>
						<td ng-click="cc.open(row)">{{row.description}}</td>
						<td ng-click="cc.open(row)">{{row.creation_date | date:'short'}}</td>
						<!-- <td>{{row.repositories.length | number}}</td> -->
						<td>{{row.id}}</td>
					</tr>
				</table>
			</div>
		<hr>
	</section>
</div>
	
	
<section ng-controller="publicController as pc">
	<h2>Public Collections</h2>
	<hr>
	
	<div ng-hide="user === undefined">
		
		<div ng-hide="pc.loading">
			<h3>Pinned Collections</h3>
			<p ng-show="pinned[0] === undefined" class="alert alert-warning">You have not pinned any collections yet. To pin a collection, click the button next to it in the table below.</p>
			
			<table class="table table-bordered table-striped table-hover" style="max-height:300px;table-layout:fixed;" ng-hide="pinned[0] === undefined || pc.loading">
				<col width="23%">
				<col width="39%">
				<col width="10%">
				<!-- <col width="5%"> -->
				<col width="23%">
				<col width="5%">
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Creation Date</th>
					<!-- <th>Size</th> -->
					<th>ID</th>
					<th></th>
				</tr>
				<tr ng-repeat="row in pinned">
					<td ng-click="pc.view(row.id)">{{row.name}}</td>
					<td ng-click="pc.view(row.id)">{{row.description}}</td>
					<td>{{row.creation_date | date:'short'}}</td>
					<!-- <td>{{row.repositories.length | number}}</td> -->
					<td>{{row.id}}</td>
					<td><button class="btn btn-xs btn-primary" style="width:100%;" ng-click="pc.unpin(row)">Unpin</button></td>
				</tr>
			</table>
		</div>
		
		<div class="wrapper" ng-show="pc.loading">
			<h2>Loading...</h2>
			<span class="cssload-loader"></span>
		</div>
		
		<hr>
	</div>
	
	<form ng-submit="wordSearch" name="searchForm">
		<input type="text" name="query" id="query" size="36" ng-model="searchQuery" style="width:80%" placeholder="Search for Collections...">
		<button class="btn btn-success" type="submit" ng-click="pc.search(searchQuery)" ng-disabled="searchQuery === '' || searchQuery === undefined">Search</button>
	</form>
	<!-- <form name="idSearch" role="form">
		<p style="display:inline">Enter Collection ID:</p>
		<input type="text" name="idField" id="idField" ng-model="targetId" style="width:30%">
		<button class="btn btn-success" type="submit" ng-click="pc.view(targetId)" ng-disabled="targetId === '' || targetId === undefined">Go</button>
	</form> -->
	
	<br>
	
	<div class="wrapper" ng-show="pc.loading">
		<h2>Loading...</h2>
		<span class="cssload-loader"></span>
	</div>
	
	<div ng-hide="pc.loading || pc.searching">
		<p ng-show="publicData[0] === undefined" class="alert alert-warning">No results found.</p>
		
		<table class="table table-bordered table-striped table-hover" style="table-layout:fixed;" ng-hide="publicData[0] === undefined">
			<col width="23%">
			<col width="39%">
			<col width="10%">
			<!-- <col width="5%"> -->
			<col width="23%">
			<col width="5%" ng-hide="user === undefined">
			<tr>
				<th ng-click="pc.nameSort()">Name</th>
				<th ng-click="pc.descSort()">Description</th>
				<th ng-click="pc.dateSort()">Creation Date</th>
				<!-- <th>Size</th> -->
				<th>ID</th>
				<th ng-hide="user === undefined"></th>
			</tr>
			<tr ng-repeat="row in publicData">
				<td ng-click="pc.view(row.id)">{{row.name}}</td>
				<td ng-click="pc.view(row.id)">{{row.description}}</td>
				<td>{{row.creation_date | date:'short'}}</td>
				<!-- <td>{{row.repositories.length | number}}</td> -->
				<td>{{row.id}}</td>
				<td ng-hide="user === undefined">
					<button class="btn btn-xs btn-primary" style="width:100%;" ng-click="pc.pin(row)" ng-hide="row.pinned">Pin</button>
					<button class="btn btn-xs btn-primary" style="width:100%;" ng-click="pc.unpin(row)" ng-show="row.pinned">Unpin</button>
				</td>
			</tr>
		</table>
	</div>
</section>