<section ng-controller="publicController as pc">

	<h2>Find Collections</h2>
	
	<div class="wrapper" ng-show="loading">
		<h2>Loading...</h2>
		<span class="cssload-loader"></span>
	</div>
	
	<table class="table table-bordered table-striped table-hover" style="max-height:400px;table-layout:fixed;" ng-hide="pc.loading">
		<col width="23%">
		<col width="39%">
		<col width="10%">
		<!-- <col width="5%"> -->
		<col width="23%">
		<col width="5%">
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Creation Date</th>
			<!-- <th>Size</th> -->
			<th>ID</th>
			<th></th>
		</tr>
		<tr ng-repeat="row in publicData" ng-click="pc.view(row.id)">
			<td>{{row.name}}</td>
			<td>{{row.description}}</td>
			<td>{{row.creation_date | date:'short'}}</td>
			<!-- <td>{{row.repositories.length | number}}</td> -->
			<td>{{row.id}}</td>
			<td></td>
		</tr>
	</table>
</section>