<div>
	<div class="modal-header">
	    <h3 class="modal-title" id="modal-title">Hermes Results</h3>
	</div>
	<div class="modal-body" id="modal-body">
		<!--  <div ng-repeat="filter in filterList" class="filterBox">
			<input type="checkbox" id={{filter.filtername}} ng-model="filter.activate"/><label for={{filter.filtername}}> {{filter.filtername | hermesName}}</label> <input type="text"  ng-model="filter.threshold" style="width:50px;"/> <br/>
		</div> -->
	</div>
	<div class="modal-footer">
		<button class="btn btn-info" type="button" ng-click="$ctrl.run()">Download Hermes Results</button>
		<button class="btn btn-warning float-left" type="button" ng-click="$ctrl.close()">Close</button>
	</div>
	<div class="wrapper" ng-show="$ctrl.loading">
		<span class="cssload-loader"></span>
	</div>
	<br/>
</div>