<section ng-controller="collectionController as cc">

	<h2>My Collections</h2>

	<div class="wrapper" ng-show="loading">
		<h2>Loading...</h2>
		<span class="cssload-loader"></span>
	</div>


<!--	<div id="user-collections-table" ui-grid="gridOpts" ui-grid-resize-columns ui-grid-auto-resize class="grid" ng-hide="loading"></div> -->
	<div ng-hide="loading">
		<p ng-show="userCollections === undefined" class="alert alert-warning">You have not created any collections yet. To create a new collection, collect projects using the search feature and create a collection from them in the Projects tab.</p>
		
		<table class="table table-bordered table-striped table-hover" style="max-height:400px;table-layout:fixed;" ng-hide="userCollections === undefined">
			<col width="23%">
			<col width="39%">
			<col width="10%">
			<!-- <col width="5%"> -->
			<col width="23%">
			<col width="5%">
			<tr>
				<th ng-click="cc.nameSort()">Name</th>
				<th ng-click="cc.descSort()">Description</th>
				<th ng-click="cc.dateSort()">Creation Date</th>
				<!-- <th>Size</th> -->
				<th>ID</th>
				<th></th>
			</tr>
			<tr ng-repeat="row in userCollections" ng-class="{'selected': (row.id == cc.collection.id) && cc.showCollection}">
				<td ng-click="cc.edit(row)">{{row.name}}</td>
				<td ng-click="cc.edit(row)">{{row.description}}</td>
				<td ng-click="cc.edit(row)">{{row.creation_date | date:'short'}}</td>
				<!-- <td>{{row.repositories.length | number}}</td> -->
				<td>{{row.id}}</td>
				<td style="font-weight:bold">{{row.privateStatus | privateFilter}}</td>
			</tr>
		</table>
	</div>
	
	<div ng-show="cc.showCollection">
		<hr>
		<form name="form" role="form">
	        <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
    	        <label for="name">Name</label>
        	    <input type="text" name="name" id="name" class="form-control" ng-model="cc.collection.name" required ng-disabled="cc.saving"/>
            	<span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">Name is required</span>
	        </div>
    	    <div class="form-group" ng-class="{ 'has-error': form.description.$dirty && form.description.$error.required }">
        	    <label for="description">Description</label>
        	    <textarea rows='3' style="width:100%;" type="description" name="description" id="description" class="form-control" ng-model="cc.collection.description" required ng-disabled="cc.saving"></textarea>
            	<span ng-show="form.description.$dirty && form.description.$error.required" class="help-block">Description is required</span>
        	</div>
        	<div class="form-actions pull-right">
            	<button type="submit" ng-disabled="form.$invalid || cc.saving" class="btn btn-primary" ng-hide="!cc.collection.privateStatus" ng-click="cc.update()">Save</button>
	        	<span class="wrapper" ng-show="cc.saving">
					<span class="cssload-loader"></span>
				</span>
        	</div>
    	</form>
		<span uib-dropdown>
	   		<button id="single-button" type="button" class="btn btn-success btn-xs" uib-dropdown-toggle ng-disabled="cc.disabled || cc.saving">
	       		Version {{cc.version.number}} &nbsp;&nbsp;&dash;&nbsp;&nbsp;  {{cc.version.creationDate | date:'short'}}&nbsp;&nbsp;<span class="caret"></span>
    		</button>
			<ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
				<li ng-repeat="version in cc.collection.versions"><a href ng-click="cc.version = version">{{version.number}} &nbsp;&nbsp;&dash;&nbsp;&nbsp;  {{version.creationDate | date:'short'}}</a></li>
				<li class="divider"></li>
        		<li role="menuitem"><a href ng-click="cc.deriveVersion()">Derive new version from current version ({{cc.version.number}})</a></li>
			</ul>
		</span>
		<div class="panel-body">
	   		{{cc.version.comment}}
			<br><br>
			<div id="not_frozen" ng-hide="cc.version.frozen || cc.version.filtered" style="height:28px">
	            <button ng-disabled="loading || cc.saving || cc.version.frozen" class="btn btn-primary btn-sm" ng-click="cc.build()">Build this version</button>
	            <button ng-disabled="loading || cc.saving || cc.collection.versions.length <= 1" ng-click="cc.removeVersion(cc.version.id)" class="btn btn-sm btn-danger" title="Delete" confirm="Removal is irreversible! Continue?"><i class="glyphicon glyphicon-trash"></i> Delete this version</button>
	            <button ng-disabled="loading || cc.saving" ng-click="cc.remove(cc.collection.id)" class="btn btn-sm btn-danger" title="Delete" confirm="Removal is irreversible! Continue?"><i class="glyphicon glyphicon-trash"></i> Delete this collection</button>
	            <span style="float:right;">
	            	<button ng-disabled="loading || cc.saving || cc.version.frozen" class="btn btn-primary btn-sm" ng-click="cc.runFilter(cc.version)" ng-show="cc.collection.privateStatus">Run Hermes Filter</button>
	            	<button ng-disabled="loading || cc.saving" class="btn btn-primary btn-sm" ng-click="cc.makePublic(cc.collection)" ng-show="cc.collection.privateStatus" confirm="Are you sure? This cannot be undone.">Make collection public</button>
	            </span>
			</div>
			<div id="frozen" ng-show="cc.version.frozen">
				This version is frozen, because it has been built. You can make it editable again by clicking unfreeze.
				<strong>!!! Be aware, that the previous build result will be deleted !!!</strong>
				<br/><br/>
				<button ng-disabled="loading || cc.saving || cc.disableBuild" class="btn btn-primary btn-sm" ng-click="cc.addBuild(cc.version)">Show build</button>
	            <button ng-disabled="loading || cc.saving || cc.disableBuild" class="btn btn-danger btn-sm" ng-click="cc.unfreeze(cc.version)">Unfreeze</button>
			</div>
			<div id="filter" ng-show="cc.version.filtered">
				This version is frozen, because a Hermes filter has been run on it. You can make it editable again by clicking unfreeze.
				<strong>!!! Be aware, that the results of the filter will be deleted !!!</strong>
				<br/><br/>
				<button ng-disabled="loading || cc.saving || cc.disableBuild" class="btn btn-primary btn-sm" ng-click="cc.showFilter(cc.version)">Show filter results</button>
	            <button ng-disabled="loading || cc.saving || cc.disableBuild" class="btn btn-danger btn-sm" ng-click="cc.removeFilter(cc.version)">Unfreeze</button>
			</div>
    	</div>
    	
   		<table class="table table-bordered table-striped">
			<col width="*">
			<col width="*">
			<col width="5%">
   			<tr>
   				<th>Name</th>
   				<th>Commit</th>
   				<th></th>
   			</tr>
   			<tr ng-repeat="commit in cc.version.commits">
				<td>{{commit.repository.name}}</td>
				<td>
					<div class="dropdown" ng-hide="cc.version.frozen">
					  <button class="btn btn-default btn-xs dropdown-toggle" ng-click="cc.selectCommit(commit)" type="button" id="commitSelect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    <span style="font-family:monospace">{{commit.commitId}}</span>
					    <span class="caret" ng-hide="loading"></span>
					  </button>
					</div>
					<span style="font-family:monospace" ng-show="cc.version.frozen">{{commit.commitId}}</span>
				</td>
			<td><ngcart-addtocart id="{{ commit.repository.id }}" name="{{ commit.repository.name }}" price="1" quantity="1" quantity-max="30" data="commit.repository"></ngcart-addtocart></td>
   			</tr>
   		</table>
	</div>
</section>
